<!-- <div>
	<a href="{{ doc.route }}">{{ doc.title or doc.name }}</a>
</div> -->
<!-- this is a sample default list template -->

{% set flights = frappe.get_all('Airplane Flight', fields=['name', 'source_airport_code', 'destination_airport_code', 'date_of_departure', 'time_of_departure', 'duration_of_flight', 'route']) %}

{% for doc in flights %}
    <div class="flight-box">
        <h3>{{ doc.name }}</h3>
        <p>{{ doc.source_airport_code }} ➜ {{ doc.destination_airport_code }}</p>
        <p>{{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} | {{ doc.time_of_departure }} | {{ frappe.utils.format_duration(doc.duration_of_flight) }}</p>
        <a href="/{{ doc.route | e }}">View Flights</a>
    </div>
{% endfor %}