{% extends "templates/web.html" %}

{% block page_content %}
<h1>{{ title }}</h1>

<h2>Flight Details</h2>

<ul>
    <li>Airline: {{ doc.airplane }}</li>
    <li>{{ doc.source_airport_code }} ➜ {{ doc.destination_airport_code }}</li>
    <li>{{ doc.date_of_departure }} | {{ doc.time_of_departure }}</li>
    <li>
        Duration:
         {{ frappe.utils.format_duration(doc.duration_of_flight) }}
    </li>
</ul>
<a class="btn-btn-info" href="/book-flight-ticket-web-form/new"style="background-color: #28a745; color: white; padding: 10px 20px; border: 1px solid #007bff; border-radius: 5px; text-decoration: none;">Book Now</a>
{% endblock %}

<!-- this is a sample default web page template -->


